body, html {
    height: 100%;
    margin: 0;
}

.bg {
    background-image: url(905439.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

p {
    margin: 0;
}