@charset "UTF-8";

body {
    background-color:beige;
    font-family: Cambria; 
}

h1 {
    color: rgb(0, 36, 36);
}

h2 {
    color: rgb(83, 37, 4);
}

p {
    font-size: 18px;
    text-align: justify;
}

