* {
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

.container {
    max-width: 1000px;
    position: relative;
    margin: auto;
}

.slide {
    display: none;
}

img {
    vertical-align: middle;
}

.anterior, .proximo {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 15px;
    margin-top: -22px;
    color: #fff;
    font-weight: bold;
    font-size: 30px;
    transition: .4s ease;
    user-select: none;
    text-decoration: none;
   
}

.anterior {
    left: 0;
    border-radius: 0 5px 5px 0;
}

.proximo {
    right: 0;
    border-radius: 5px 0 0 5px;
}

.anterior:hover, .proximo:hover, .textoslide:hover {
    background-color: rgba(0,0,0,0.6);
}

.textoslide {
    color: #fff;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    width: 100%;
    text-align: center;
    transition: .4s ease;
    bottom: 0;
}

.ordem {
    color: #fff;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

.indicador {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color .5s ease;
}

.ativo, .indicador:hover {
    background-color: #777;
}

.fade {
    animation-name: fade;
    animation-duration: 1s;
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1s;
}

@keyframes fade {
    from{
        opacity: .4;
    }

    to{
        opacity: 1;
    }
}